<section clasS="movie width-container flex flex-col justify-start items-center">
  <header class="w-full flex flex-row justify-between items-center">
    <h1 clas="text-h1 text-txt_title" role="heading">
      {{ movie.title }}
    </h1>
    <a
      [routerLink]="['/movie']"
      class="text-txt_title text-h1 no-underline hover:cursor-pointer h-full"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Movies home"
        title="Movies home"
        class="text-txt_title text-h1 no-underline hover:cursor-pointer hover:text-txt_contrast h-full self-center text-top translate-y-4"
        >home</mat-icon
      >
    </a>
  </header>
  <div
    class="flex flex-col flex-nowrap justify-start items-center lg:flex-row lg:justify-center"
  >
    <div class="self-center drop-shadow-lg lg:mr-8 lg:self-start">
      <img
        class="max-w-movie_img h-auto lg:max-w-none lg:w-movie_img"
        src="{{ movie.banner }}"
        loading="lazy"
        alt="Poster of the movie: {{ movie.title }}"
      />
    </div>
    <div class="lg:ml-8 lg:self-start">
      <p
        class="p-0 my-3 text-general flex flex-row flex-wrap justify-center items-center lg:justify-start"
      >
        <span attr.aria-label="Released in {{ movie.year }}.">
          <mat-icon
            title="movie released in"
            aria-hidden="true"
            class="h-full align-text-top"
            >calendar_today</mat-icon
          >
          {{ movie.year }}
        </span>
        <span class="mx-6" aria-hidden="true">|</span>
        <span
          attr.aria-label="The film is {{ movie.movie_length }} minutes long."
        >
          <mat-icon
            title="movie length"
            aria-hidden="true"
            class="h-full align-text-top"
            >schedule</mat-icon
          >
          {{ movie.movie_length }} min
        </span>
        <span class="mx-6" aria-hidden="true">|</span>
        <span
          attr.aria-label="Content classification is {{
            movie.content_rating === '' || movie.content_rating === '-'
              ? 'not defined'
              : movie.content_rating
          }}."
        >
          <mat-icon
            title="content classification"
            aria-hidden="true"
            class="h-full align-text-top"
            >warning</mat-icon
          >
          {{ movie.content_rating }}
        </span>
        <span class="mx-6" aria-hidden="true">|</span>
        <span attr.aria-label="The rating is {{ movie.rating }} out of ten.">
          <mat-icon
            title="rating"
            aria-hidden="true"
            class="h-full align-text-top"
            >star_border</mat-icon
          >
          {{ movie.rating }}/10
        </span>
        <span class="mx-6" aria-hidden="true">|</span>
        <span attr.aria-label="The popularity index is {{ movie.popularity }}.">
          <mat-icon
            title="popularity"
            aria-hidden="true"
            class="h-full align-text-top"
            >trending_up</mat-icon
          >
          {{ movie.popularity }}
        </span>
      </p>
      <mat-expansion-panel
        *ngIf="movie.imdb_id"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        role="note"
      >
        <mat-expansion-panel-header>
          <mat-panel-title aria-label="Cast of the movie">
            Cast
          </mat-panel-title>
          <mat-panel-description>
            {{ panelOpenState ? "" : "click to show cast" }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-cast [movieId]="movie.imdb_id"></app-cast>
      </mat-expansion-panel>
      <article class="">
        <h2
          class="text-h2 text-txt_title py-6 my-0 text-center lg:text-left lg:pb-2"
        >
          Description
        </h2>
        <p class="text-left text-general my-0">
          {{ movie.description }}
        </p>
      </article>
      <article *ngIf="movie.description !== movie.plot" class="">
        <h2
          class="text-h2 text-txt_title py-6 my-0 text-center lg:text-left lg:pb-2"
        >
          Plot
        </h2>
        <p class="text-left text-general my-0">{{ movie.plot }}</p>
      </article>
    </div>
  </div>
  <article class="w-full">
    <h2
      *ngIf="movie.trailer"
      class="text-h2 text-txt_title py-6 my-0 text-center md:txt-left"
    >
      Trailer
    </h2>
    <p *ngIf="!movie.trailer" class="italic">Trailer not available.</p>
    <app-video-player
      class="w-full"
      *ngIf="movie.trailer"
      [videoUrl]="movie.trailer"
    ></app-video-player>
  </article>
</section>
