<section class="movies-list mx-auto">
  <h1 aria-role="heading">Movies</h1>
  <mat-spinner *ngIf="movies.length === 0"></mat-spinner>
  <header>
    <form *ngIf="selectorsForm" [formGroup]="selectorsForm">
      <mat-form-field appearance="fill">
        <mat-label>Get movies by</mat-label>
        <mat-select [formControl]="selectors">
          <mat-option
            *ngFor="let selector of selectorsList"
            [value]="selector"
            >{{ selector }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" *ngIf="currentSelector === 'Year'">
        <mat-label>Year</mat-label>
        <input
          matInput
          [formControl]="year"
          type="number"
          [value]="selectedYear"
        />
      </mat-form-field>
      <mat-form-field appearance="fill" *ngIf="currentSelector === 'Genre'">
        <mat-label>Genres</mat-label>
        <mat-select [formControl]="genres">
          <mat-option *ngFor="let genre of genresList" [value]="genre">{{
            genre
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </header>
  <div [hidden]="movies.length === 0" class="w-[80%]" aria-role="list">
    <mat-card
      *ngFor="let movie of movies"
      aria-role="listitem"
      class="leading-6 w-full animated bounce fadeIn bg-dark my-2 border-2 rounded-2 border-gray-400 hover:bg-txt_contrast important:drop-shadow-lg hover:text-txt_black focus:text-txt_black active:text-txt_black hover:decoration-txt_black focus:decoration-txt_black active:decoration-txt_black"
    >
      <span
        *ngIf="movie.popularity"
        class="text-gray-200 inline-block w-20 text-right"
        >{{ movie.popularity }}
      </span>
      <span
        *ngIf="movie.rating"
        class="text-gray-200 inline-block w-12 text-right"
        >{{ movie.rating }}
      </span>
      <a [routerLink]="['/movie', movie.imdb_id]" class="inherit-color px-3"
        >{{ movie.title }}
      </a>
    </mat-card>
  </div>
  <footer [hidden]="movies.length === 0">
    <mat-paginator
      class="bg-dark"
      [length]="count"
      [pageSize]="itemsPerPage"
      [pageSizeOptions]="itemsPerPageOptions"
      [showFirstLastButtons]="true"
      [pageIndex]="currentPage"
      aria-label="Select page"
    >
      >
    </mat-paginator>
  </footer>
</section>
