<section class="movies-list mx-auto">
  <h1 role="heading" class="text-h1 text-txt_title">Movies</h1>
  <mat-spinner *ngIf="movies.length === 0"></mat-spinner>
  <header>
    <form
      *ngIf="selectorsForm"
      [formGroup]="selectorsForm"
      class="flex flex-row flex-wrap justify-center md:justify-start items-center"
    >
      <mat-form-field appearance="fill" color="#eee">
        <mat-label class="text-general">Get movies by</mat-label>
        <mat-select [formControl]="selectors">
          <mat-option
            class="text-general text-txt_main"
            *ngFor="let selector of selectorsList"
            [value]="selector"
            >{{ selector }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        *ngIf="currentSelector === 'Year'"
        color="#eee"
      >
        <mat-label class="text-general">Year</mat-label>
        <input
          class="text-general text-txt_main"
          matInput
          [formControl]="year"
          type="number"
          [value]="selectedYear"
        />
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        *ngIf="currentSelector === 'Genre'"
        color="#eee"
      >
        <mat-label class="text-general">Genres</mat-label>
        <mat-select [formControl]="genres">
          <mat-option
            *ngFor="let genre of genresList"
            [value]="genre"
            class="text-general text-txt_main"
            >{{ genre }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </form>
  </header>
  <div [hidden]="movies.length === 0" class="w-[80%]" role="list">
    <mat-card
      *ngFor="let movie of movies"
      role="listitem"
      class="leading-6 w-full animated bounce fadeIn bg-dark my-2 border-2 rounded-2 border-gray-400 hover:bg-txt_contrast important:drop-shadow-lg hover:text-txt_black focus:text-txt_black active:text-txt_black hover:decoration-txt_black focus:decoration-txt_black active:decoration-txt_black"
    >
      <span
        *ngIf="movie.popularity"
        class="text-gray-200 inline-block w-20 text-right text-general"
        >{{ movie.popularity }}
      </span>
      <span
        *ngIf="movie.rating"
        class="text-gray-200 inline-block w-12 text-right text-general"
        >{{ movie.rating }}
      </span>
      <a
        [routerLink]="['/movie', movie.imdb_id]"
        class="inherit-color px-3 text-general"
        >{{ movie.title }}
      </a>
    </mat-card>
  </div>
  <footer [hidden]="movies.length === 0">
    <mat-paginator
      class="bg-dark"
      [length]="count"
      [pageSize]="itemsPerPage"
      [pageSizeOptions]="itemsPerPageOptions"
      [showFirstLastButtons]="true"
      [pageIndex]="currentPage"
      aria-label="Select page"
    >
      >
    </mat-paginator>
  </footer>
</section>
